Package: com.arichorn.lowcontrastmode
Name: LowContrastMode
Version: 1.4.2
Architecture: iphoneos-arm
Description: Tries to make YouTube App look dimmer on the eyes.
Maintainer: arichorn
Author: arichorn
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 12.0)
